.content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 4px 2px rgb(88, 88, 88);
    height: 600px;
    margin-left: 40px;
    width: 774px;
    margin-top: 140px;
    overflow: auto;
}

.earthquake-list {
    display: flex;
    background: rgb(158, 255, 158);
    border-radius: 30px;
    width: 600px !important;

}

.earthquake-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    height: 100px !important;

}