<div class="content-container">
    <ul class="earthquake-list" *ngFor="let earthquake of earthquakes">
        <div class="content-box">
            <div class="earthquake-item">
                <div class="earthquake-item_left">
                    <li>
                        Şehir: {{ earthquake.title }}
                    </li>
                    <li>
                        Derinlik: {{ earthquake.depth }}
                    </li>
                </div>
                <div class="earthquake-item_right">
                    <li>
                        Lokasyon: {{ earthquake.location_tz }}
                    </li>
                    <li>
                        Tarih: {{ earthquake.date_time }}
                    </li>
                </div>
            </div>
        </div>
    </ul>
</div>