<div class="lowerBar">
    <ul class="lowerBar-ul" >
        <li class="home">
            <p class="mainPage">Anasayfa</p>
        </li>
        <li (click)="handleRefreshClick()" class="refresh">
            <p class="refreshParagraph">Yenile</p>
        </li>
        <li (click)="handleMagnifyingClick()" class="magnifying">
            <p class="glass">Filterele</p>
        </li>
        <li (click)="boot()" class="exchange">
            <p class="statistik">İstatistik</p>
        </li>
        <li class="map">
            <p class="mapParagraph">Harita</p>
        </li>
    </ul>
</div>